Libreria_internacional.net/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache.vs
 Libreria_internacional.net/obj/Debug/Libreria_internacional.net.csproj.AssemblyReference.cache

**/.cache

bin
**/obj
Properties
.vs/